apiVersion: apps/v1
kind: Deployment
metadata:
  name: optic-booking-deployment
  labels:
    app: optic-booking
spec:
  replicas: 2
  selector:
    matchLabels:
      app: optic-booking
  template:
    metadata:
      labels:
        app: optic-booking
    spec:
      containers:
      - name: optic-booking
        image: 447407244516.dkr.ecr.ap-south-1.amazonaws.com/optic-booking:v1
        ports:
        - containerPort: 5000
        readinessProbe:
          httpGet:
            path: /healthz
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /healthz
            port: 5000
          initialDelaySeconds: 15
          periodSeconds: 20
